

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <div class="card" >
        <img src="./assets/img/orionthemes-placeholder-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="card" >
        <img src="./assets/img/orionthemes-placeholder-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="card" >
        <img src="./assets/img/orionthemes-placeholder-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>